<div class="col-md-8" ng-controller="EntriesCtrl">
    <h1 class="page-header">
        Bürgerkomitee - Verein
    </h1>

    <img class="img-responsive" src="images/verein/verein.jpg" alt="">

    <hr>
    <address>
        <strong>Kontakt</strong><br>
        <a href="mailto:verein@bachsanierung.ch">verein@bachsanierung.ch</a>
    </address>

    <hr/>
    <ul>
        <li>
            <a href="resources/verein/Mitgliedschaft.pdf" target="_blank">Mitgliederliste</a>
        </li>
        <li>
            <a href="resources/verein/statuten.pdf" target="_blank">Gründungsstatuten</a>
        </li>
    </ul>
</div>