<div class="col-lg-8" ng-controller="PostCtrl">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Titel</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTitle" placeholder="Überschrift des Eintrags"
                       ng-model="entry.title"/>
            </div>
        </div>
        <div class="form-group">
            <label for="inputTeaser" class="col-sm-2 control-label">Anrisstext</label>

            <div class="col-sm-10">
                <textarea class="form-control" rows="2" id="inputTeaser"
                          placeholder="Kurzer Einführungstext, der in der Vorschau erscheint"
                          ng-model="entry.teaser"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputContent" class="col-sm-2 control-label">Inhalt</label>

            <div class="col-sm-10">
                <textarea class="form-control" rows="4" id="inputContent"
                          placeholder="Der gesamte Text!" ng-model="entry.content"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" ng-click="create(entry)" class="btn btn-primary">Eintragen <span
                        class="glyphicon glyphicon-chevron-right"></button>
            </div>
        </div>
        {{created}}
    </form>


    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputId" class="col-sm-2 control-label">ID</label>

            <div class="col-sm-10">
                <input type="number" class="form-control" id="inputId" placeholder="Id des zu löschenden Eintrags"
                       ng-model="entry.id"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" ng-click="delete(entry)" class="btn btn-primary">Löschen <span
                        class="glyphicon glyphicon-chevron-right"></button>
            </div>
        </div>
        {{deleted}}
    </form>
</div>