<div class="col-md-8" ng-controller="EntriesCtrl">
    <h1 class="page-header">
        Elementargefahren
    </h1>

    <img class="img-responsive" src="images/elementargefahren/elementargefahren.jpg" alt="">
    <hr>
    <ul>
        <li>
            <a href="resources/elementargefahren/ueberschwemmungskarten/gaehwil.jpg" target="_blank">Überschwemmungskarte Gähwil</a>
        </li>
        <li>
            <a href="resources/elementargefahren/ueberschwemmungskarten/kirchberg.jpg" target="_blank">Überschwemmungskarte Kirchberg</a>
        </li>
        <li>
            <a href="resources/elementargefahren/ueberschwemmungskarten/bazenheid.jpg" target="_blank">Überschwemmungskarte Bazenheid</a>
        </li>
        <li>
            <a href="resources/elementargefahren/ueberschwemmungskarten/dietschwil.jpg" target="_blank">Überschwemmungskarte Dietschwil</a>
        </li>
        <li>
            <a href="resources/elementargefahren/Leitfaden%20Naturgefahren%20Kt.%20SG.pdf" target="_blank">Leitfaden Naturgefahren</a>
        </li>
        <li>
            <a href="resources/elementargefahren/Wegleitung%20Hochwasserschutz%20an%20Fliessgewässer.pdf" target="_blank">Wegleitung Hochwasserschutz an Fliessgewässer</a>
        </li>
    </ul>
</div>